
    <div class="mobileNav" id="js-slidePanelTarget">
        <ul class="mobileNav-list">
        {% for link in linklists.main-menu.links %}
            <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        {% if shop.customer_accounts_enabled %}
            <li class="toolbar-util-list-account">
            {% if customer  %}
                <a href="/account">Account</a>
            {% else %}
                {{ 'Account' | customer_login_link }}
            {% endif %}
            </li>
        {% endif %}
        </ul>
    </div>

    <div class="tier">
        <div class="wrapper">
            <div class="masthead" role="banner">
                <div class="masthead-brand">
                    <div class="logo">
                        <a href="{{ shop.url }}">
                            <img src="{{ 'logo-dark.svg' | asset_url }}" alt="Back to the {{ shop.name }} home page" itemprop="logo" />
                            <!-- <img src="{{ 'logo-white.png' | asset_url }}" alt="Back to the {{ shop.name }} home page" itemprop="logo" /> -->
                        </a>
                    </div>
                </div>
                <div class="masthead-nav">
                    <div class="nav" role="navigation">
                        <ul class="nav-list">
                        {% for link in linklists.main-menu.links %}
                            <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
