
    <div class="mobileNav" id="js-slidePanelTarget">
        <ul class="mobileNav-list{% if template == "index" and settings.reverse_txt == true %} mobileNav-list_fancy{% endif %}">
        {% for link in linklists.main-menu.links %}
            {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
            <li class="{% if link.active %}current{% endif %} {% if linklists[child_list_handle].links.size > 0 %}mobileNav-list-item_hasSubnav{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% if linklists[child_list_handle].links.size > 0 %}
                    <a href="#" class="mobileNav-list-item-toggle">
                        <span class="isVisuallyHidden">Toggle</span>
                    </a>
                    <ul class="mobileNav-list-item-subnav">
                        {% for l in linklists[child_list_handle].links %}
                            <li>
                                <a href="{{ l.url }}">{{ l.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>

    {% if template == "index" and settings.enable_hero_image == true %}
    <div class="tier tier_hero" style="background-image: url({{ 'hero_image_home.jpg' | asset_url }});">
        {% if settings.enable_hero_text == true %}
            {% comment %}
                Centered text in the middle of the homepage hero image
            {% endcomment %}
            <div class="heroTxt">
                <div class="heroTxt-inner">
                    <div class="heroTxt-line1">{{ settings.hero_text_line1 }}</div>
                    <div class="heroTxt-line2">{{ settings.hero_text_line2 }}</div>
                </div>
            </div>
        {% endif %}
    {% else %}
    <div class="tier">
    {% endif %}
        <div class="wrapper">
            <div class="masthead" role="banner">
                <div class="masthead-brand">
                    <div class="logo">
                        <a href="{{ shop.url }}">
                        {% if template == "index" and settings.reverse_txt == true %}
                            <img src="{{ 'logo-light.svg' | asset_url }}" alt="Back to the {{ shop.name }} home page" itemprop="logo" />
                        {% else %}
                            <img src="{{ 'logo-dark.svg' | asset_url }}" alt="Back to the {{ shop.name }} home page" itemprop="logo" />
                        {% endif %}
                        </a>
                    </div>
                </div>
                <div class="masthead-nav">
                    <div class="nav" role="navigation">
                        <ul class="nav-list{% if template == "index" and settings.reverse_txt == true %} nav-list_light{% endif %}">
                        {% for link in linklists.main-menu.links %}
                            {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
                            <li class="{% if link.active %}current{% endif %} {% if linklists[child_list_handle].links.size > 0 %}nav-list-item_hasSubnav{% endif %}">
                                <a href="{{ link.url }}">{{ link.title }}{% if linklists[child_list_handle].links.size > 0 %} + {% endif %}</a>

                                {% if linklists[child_list_handle].links.size > 0 %}
                                    <ul class="nav-list-item-subnav">
                                        {% for l in linklists[child_list_handle].links %}
                                            <li>
                                                <a href="{{ l.url }}">{{ l.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
