
    <div class="tier">
        <div class="wrapper">
            <div class="masthead" role="banner">
                <div class="masthead-brand">
                    <div class="logo">
                        <a href="{{ shop.url }}">
                            <img src="{{ 'logo-dark.svg' | asset_url }}" alt="Back to the {{ shop.name }} home page" />
                            <!-- <img src="{{ 'logo-white.png' | asset_url }}" alt="Back to the {{ shop.name }} home page" /> -->
                        </a>
                    </div>
                </div>
                <div class="masthead-nav">
                    <div class="nav" role="navigation">
                        <ul class="nav-list">
                        {% for link in linklists.main-menu.links %}
                            <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
