
    <div class="tier tier_transparent">
        <div class="wrapper">
            <div class="footer" role="contentinfo">
                <div class="footerGrid">
                    <div class="footerGrid-col footerGrid-col_cta">
                        <div class="section">
                            <div class="section-hd">
                                Join our newsletter <span class="isMidScreen">for new releases and updates.</span>
                            </div>
                            <div class="section-bd section-bd_offset">
                                <form method="post" action="#" novalidate>
                                    <div class="signupForm">
                                        <div class="signupForm-field">
                                            <label class="isVisuallyHidden" for="emailAddress">E-mail Address</label>
                                            <input class="field field_txt field_txt_overlap" type="email" name="emailAddress" id="emailAddress" placeholder="Enter E-mail Address" />
                                        </div>
                                        <div class="signupForm-btn">
                                            <button class="btn btn_transparent" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="section-ft">
                                <span class="isWideScreen">Expect quality over quantity.</span>
                            </div>
                        </div>
                    </div>
                    <div class="footerGrid-col footerGrid-col_info">

                        <div class="footerGrid-col_info-address">
                            {% unless settings.maplink == blank %}<a href="{{ settings.maplink }}">{% endunless %}
                                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <span class="isVisuallyHidden" itemprop="name">{{ shop.name }}<br/></span>
                                    <span itemprop="streetAddress">{{ settings.addressStreet }}</span><br/>
                                    <span itemprop="addressLocality">{{ settings.addressCity }}</span>, <span itemprop="addressRegion">{{ settings.addressState }}</span> <span itemprop="postalCode">{{ settings.addressZip }}</span>
                                </span>
                            {% unless settings.maplink == blank %}</a>{% endunless %}
                        </div>

                        <div class="footerGrid-col_info-hours">
                            {% unless settings.hoursline1 == blank %}<div itemprop="openingHours">{{ settings.hoursline1 }}</div>{% endunless %}
                            {% unless settings.hoursline2 == blank %}<div itemprop="openingHours">{{ settings.hoursline2 }}</div>{% endunless %}
                            {% unless settings.hoursline3 == blank %}<div itemprop="openingHours">{{ settings.hoursline3 }}</div>{% endunless %}
                        </div>

                    </div>
                    <div class="footerGrid-col footerGrid-col_nav">
                        <ul>
                        {% for link in linklists.footer.links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

