
    <div class="mobileNav{% if template == "index" and settings.reverse_txt == true %} mobileNav_fancy{% endif %}" id="js-slidePanelTarget">
        <ul class="mobileNav-list{% if template == "index" and settings.reverse_txt == true %} mobileNav-list_fancy{% endif %}">
        {% for link in linklists.main-menu.links %}
            <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        {% if shop.customer_accounts_enabled %}
            <li class="toolbar-util-list-account">
            {% if customer  %}
                <a href="/account">Account</a>
            {% else %}
                {{ 'Account' | customer_login_link }}
            {% endif %}
            </li>
        {% endif %}
        </ul>
    </div>

    {% if template == "index" and settings.enable_hero_image == true %}
    <div class="tier tier_hero" style="background-image: url({{ 'hero_image_home.jpg' | asset_url }});">
    {% else %}
    <div class="tier">
    {% endif %}
        <div class="wrapper">
            <div class="masthead" role="banner">
                <div class="masthead-brand">
                    <div class="logo">
                        <a href="{{ shop.url }}">
                        {% if template == "index" and settings.reverse_txt == true %}
                            <img src="{{ 'logo-light.svg' | asset_url }}" alt="Back to the {{ shop.name }} home page" itemprop="logo" />
                        {% else %}
                            <img src="{{ 'logo-dark.svg' | asset_url }}" alt="Back to the {{ shop.name }} home page" itemprop="logo" />
                        {% endif %}
                        </a>
                    </div>
                </div>
                <div class="masthead-nav">
                    <div class="nav" role="navigation">
                        <ul class="nav-list{% if template == "index" and settings.reverse_txt == true %} nav-list_light{% endif %}">
                        {% for link in linklists.main-menu.links %}
                            <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
