
    <div class="tier tier_accent1">
        <div class="wrapper">
            <div class="footer" role="contentinfo">
                <h1 class="isVisuallyHidden">Related Information</h1>

                <div class="footerGrid">
                    <div class="footerGrid-row">
                        <div class="footerGrid-row-cell footerGrid-row-cell_sm">

                            <div class="footerCTA">
                                <div class="footerCTA-hd">
                                    <h2 class="hdg hdg_lg mix-hdg_lower">Our Location &amp; Hours</h2>
                                </div>
                                <div class="footerCTA-bd">

                                    <div class="footerCTA-bd-break">
                                        {% unless settings.maplink == blank %}
                                            <a href="{{ settings.maplink }}">
                                        {% endunless %}
                                            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                <span class="isVisuallyHidden" itemprop="name">{{ shop.name }}<br/></span>
                                                <span itemprop="streetAddress">{{ settings.addressStreet }}</span><br/>
                                                <span itemprop="addressLocality">{{ settings.addressCity }}</span>, <span itemprop="addressRegion">{{ settings.addressState }}</span> <span itemprop="postalCode">{{ settings.addressZip }}</span>
                                            </span>
                                        {% unless settings.maplink == blank %}
                                            </a>
                                        {% endunless %}
                                    </div>

                                    {% unless settings.hoursline1 == blank %}
                                        <div itemprop="openingHours">{{ settings.hoursline1 }}</div>
                                    {% endunless %}
                                    {% unless settings.hoursline2 == blank %}
                                        <div itemprop="openingHours">{{ settings.hoursline2 }}</div>
                                    {% endunless %}
                                    {% unless settings.hoursline3 == blank %}
                                        <div itemprop="openingHours">{{ settings.hoursline3 }}</div>
                                    {% endunless %}
                                </div>
                            </div>

                        </div>
                        <div class="footerGrid-row-cell">

                            <div class="footerCTA">
                                <div class="footerCTA-hd footerCTA-hd_loose">
                                    <h2 class="hdg hdg_lg mix-hdg_lower">Join Our Newsletter</h2>
                                </div>
                                <div class="footerCTA-bd">
                                    <form action="//wilsonandwillys.us9.list-manage.com/subscribe/post?u=7d8847d5ffe4fbbe1cd2ca15e&amp;id=ade0f7e4c5" method="post" target="_blank" novalidate>
                                        <div style="position: absolute; left: -5000px;">
                                            <input type="text" name="b_7d8847d5ffe4fbbe1cd2ca15e_ade0f7e4c5" tabindex="-1" value="">
                                        </div>
                                        <div class="signupForm">
                                            <div class="signupForm-field">
                                                <label class="isVisuallyHidden" for="email">E-mail Address</label>
                                                <input class="field field_txt field_txt_overlap" type="email" name="EMAIL" id="email" placeholder="Enter E-mail Address" />
                                            </div>
                                            <div class="signupForm-btn">
                                                <button class="overlayBtn" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="footerGrid-row-cell footerGrid-row-cell_sm">

                            <div class="footerCTA">
                                <div class="footerCTA-hd">
                                    <h2 class="hdg hdg_lg mix-hdg_lower">Follow Us</h2>
                                </div>
                                <div class="footerCTA-bd">
                                    <ul class="iconList">
                                        <li>
                                            <a href="http://instagram.com/wilsonandwillys">
                                                <i class="icon icon_instagram">Instragram</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/wilsonandwillys">
                                                <i class="icon icon_twitter">Twitter</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/wilsonandwillys">
                                                <i class="icon icon_facebook">Facebook</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.pinterest.com/wilsonandwillys/">
                                                <i class="icon icon_pinterest">Pinterest</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://play.spotify.com/user/wilsonandwillys">
                                                <i class="icon icon_spotify">Spotify</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="tier tier_transparent">
        <div class="wrapper wrapper_constrained">

            <div class="footerLinks">
                <ul class="linkList">
                    {% if shop.customer_accounts_enabled %}
                        <li>
                        {% if customer  %}
                            <a href="/account">Account</a>
                        {% else %}
                            {{ 'Account' | customer_login_link }}
                        {% endif %}
                        </li>
                    {% endif %}
                    {% for link in linklists.footer.links %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

