<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Account</h1>
    </div>
    <div class="pageWrapper-section">
        <h2>Account Details</h2>
        <div>
            {{ customer.name }} - {{ customer.email }}
        </div>

        {% if customer.default_address %}
            <div>
                {{ customer.default_address.address1 }}
            </div>
            {% if customer.default_address.address2 != "" %}
                <div>
                    {{ customer.default_address.address2 }}
                </div>
            {% endif %}
            <div>
                {{ customer.default_address.city}},
                {% if address.province_code %}
                    {{ customer.default_address.province_code }},
                {% endif %}
                {{ customer.default_address.country }}
            </div>
            <div>
                {{ customer.default_address.zip }}
            </div>
            <div>{{ customer.default_address.phone }}</div>
        {% endif %}
        <a href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>

        <h2>Order History</h2>
        {% if customer.orders.size != 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Payment Status</th>
                        <th>Fulfillment Status</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in customer.orders %}
                        <tr>
                            <td>{{ order.name | link_to: order.customer_url }}</td>
                            <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
                            <td>{{ order.financial_status }}</td>
                            <td>{{ order.fulfillment_status }}</td>
                            <td>{{ order.total_price | money }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You haven't placed any orders yet.</p>
        {% endif %}

    </div>
</div>