<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Order History</h1>
    </div>
    <div class="pageWrapper-section">

        <div class="grid">
            <div class="grid-col grid-col_main">

                    {% if customer.orders.size != 0 %}
                        <table class="itemTable">
                            <thead>
                                <tr>
                                    <th scope="col" class="itemTable-cell itemTable-cell_orderDate">Date</th>
                                    <th scope="col" class="itemTable-cell itemTable-cell_orderTotal">Total</th>
                                    <th scope="col" class="itemTable-cell itemTable-cell_orderStatus">Status</th>
                                    <th scope="col" class="itemTable-cell itemTable-cell_orderDetails">
                                        <span class="isVisuallyHidden">Order Details Link</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in customer.orders %}
                                    <tr>
                                        <td class="itemTable-cell itemTable-cell_orderDate">
                                            <span class="itemTable-cell_orderDate_midScreen">{{ order.created_at | date: "%B %d, %Y" }}</span>
                                            <span class="itemTable-cell_orderDate_smallScreen">{{ order.created_at | date: "%m/%d/%Y" }}</span>
                                        </td>
                                        <td class="itemTable-cell itemTable-cell_orderTotal">{{ order.total_price | money }}</td>
                                        <td class="itemTable-cell itemTable-cell_orderStatus">{{ order.fulfillment_status }}</td>
                                        <td class="itemTable-cell itemTable-cell_orderDetails">
                                            <a href="{{ order.customer_url }}">
                                                <span class="isHiddenOnSmallScreens">View </span>Details &raquo;
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>You haven't placed any orders yet.</p>
                    {% endif %}

            </div>
            <div class="grid-col grid-col_nav">
                {% include 'global-accountnav' %}
            </div>
        </div>

    </div>
</div>