<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>
        {{ page_title }}
        {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
        {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
        {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}" />

    <!-- Social Media -->
    {% include 'open-graph-tags' %}
    {% include 'twitter-card' %}

    <!-- Shopify content_for_header -->
    {{ content_for_header }}

    <!-- Styles -->
    {{ 'global.scss.css' | asset_url | stylesheet_tag }}

    <!-- Scripts -->
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
    {{ 'global.js' | asset_url | script_tag }}
</head>
<body>

    <div role="banner">
        <h1>
            <a href="{{ shop.url }}">{{ shop.name }}</a>
        </h1>
    </div>

    <div role="navigation">
        <ul>
        {% for link in linklists.main-menu.links %}
            <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div role="main">
        {{ content_for_layout }}
    </div>

    <div role="contentinfo">
        <ul>
        {% for link in linklists.footer.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        </ul>
    </div>

</body>
</html>