<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>
        {{ page_title }}
        {% if current_tags %} | tagged "{{ current_tags | join: ', ' }}"{% endif %}
        {% if current_page != 1 %} | Page {{ current_page }}{% endif %}
        {% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}" />

    <!-- Social Media -->
    {% include 'open-graph-tags' %}
    {% include 'twitter-card' %}

    <!-- Shopify content_for_header -->
    {{ content_for_header }}

    <!-- Styles -->
    {{ 'global.scss.css' | asset_url | stylesheet_tag }}

    <!-- Scripts -->
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
    {{ 'global.js' | asset_url | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" itemscope itemtype="http://schema.org/LocalBusiness">

    {% include 'global-toolbar' %}
    {% include 'global-masthead' %}

    <div class="tier">
        <div class="wrapper">
            <div role="main" style="">
                {{ content_for_layout }}
            </div>
        </div>
    </div>

    {% include 'global-footer' %}

</body>
</html>