<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>
        {{ page_title }}
        {% if current_tags %} | tagged "{{ current_tags | join: ', ' }}"{% endif %}
        {% if current_page != 1 %} | Page {{ current_page }}{% endif %}
        {% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}" />

    <!-- Social Media -->
    {% include 'open-graph-tags' %}
    {% include 'twitter-card' %}

    <!-- Shopify content_for_header -->
    {{ content_for_header }}

    <!-- Styles -->
    {{ 'global.scss.css' | asset_url | stylesheet_tag }}

    <!-- Scripts -->
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
    {{ 'global.js' | asset_url | script_tag }}
</head>
<body>

    <div class="tier">
        <div class="wrapper">
            <div class="toolbar">
                <div class="toolbar-promo">Free Shipping on orders over $50</div>
                <div class="toolbar-util">Cart ({{ cart.item_count }})</div>
            </div>
        </div>
    </div>

    <div class="tier">
        <div class="wrapper">
            <div class="masthead" role="banner">
                <div class="masthead-brand">
                    <div class="logo">
                        <a href="{{ shop.url }}">
                            <img src="{{ 'logo-dark.png' | asset_url }}" alt="Back to the {{ shop.name }} home page" />
                            <!-- <img src="{{ 'logo-white.png' | asset_url }}" alt="Back to the {{ shop.name }} home page" /> -->
                        </a>
                    </div>
                </div>
                <div class="masthead-nav">
                    <div class="nav" role="navigation">
                        <ul class="nav-list">
                        {% for link in linklists.main-menu.links %}
                            <li {% if link.active %}class="current"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div role="main">
        {{ content_for_layout }}
    </div>

    <div role="contentinfo">
        <ul>
        {% for link in linklists.footer.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        </ul>
    </div>

</body>
</html>