<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle"><a href="{{ blog.url }}">{{ blog.title }}</a></h1>
    </div>
    <div class="pageWrapper-section">

        <div class="article">
            <div class="article-hd">
                <h2 class="hdg hdg_xl">{{ article.title }}</h2>
            </div>
            <div class="article-meta">
                <div>Posted: {{ article.published_at | date: '%B %d, %Y' }}</div>
                {% if article.tags.size > 0 %}
                    <div>
                    Tagged with:
                    {% for tag in article.tags %}
                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                            {{ tag }}
                        </a>
                        {% unless forloop.last %}, {% endunless %}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="article-bd">
                <div class="userContent">
                    {{ article.content }}
                </div>
            </div>
        </div>

    </div>

    {% if blog.next_article or blog.previous_article %}
    <div class="pageWrapper-section pageWrapper-section_isTight">
        <div class="pagination">
            <ul class="split">
            {% if blog.previous_article %}
                <li class="split-left">
                    <a class="btn" href="{{ blog.previous_article }}">&laquo; Previous <span class="isHiddenOnSmallScreens">Post</span></a>
                </li>
            {% endif %}
            {% if blog.next_article %}
                <li class="split-right">
                    <a class="btn" href="{{ blog.next_article }}"> Next <span class="isHiddenOnSmallScreens">Post</span> &raquo;</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
