<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">{{ blog.title }}</h1>
    </div>
    {% paginate blog.articles by 4 %}
    <div class="pageWrapper-section">
        <ul class="blocks blocks_wide">
        {% for article in blog.articles %}
            <li>
            {% assign article_has_image = false %}
            {% assign img_tag = '<' | append: 'img' %}
            {% if article.excerpt_or_content contains img_tag %}
                {% assign src = article.excerpt_or_content | split: 'src="' %}
                {% assign src = src[1] | split: '"' | first %}
                {% if src %}
                    {% assign article_has_image = true %}
                    {% assign image_src = src | replace: '_small', '' | replace: '_compact', '' | replace: '_medium', '' | replace: '_large', '' | replace: '_grande', '' %}
                {% endif %}
            {% endif %}
                <div class="panel">
                    <div class="panel-media">
                        <a href="{{ article.url }}">
                            <img src="{{ image_src }}" />
                        </a>
                    </div>
                    <div class="panel-hd">
                        <h2 class="hdg hdg_xl">
                            <a href="{{ article.url }}">{{ article.title }}</a>
                        </h2>
                    </div>
                    <div class="panel-meta">
                        <h3 class="hdg hdg_lg">
                            {{ article.published_at | date: '%b %d, %Y' }}
                        </h3>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% if paginate.pages > 1 %}
    <div class="pageWrapper-section pageWrapper-section_isTight">
        {% include 'global-pagination' %}
    </div>
    {% endif %}
    {% endpaginate %}
</div>
