<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Shopping Cart</h1>
    </div>
    <div class="pageWrapper-section pageWrapper-section_isTight">
        {% if cart.item_count > 0 %}

            <form action="/cart" method="post">
                <table class="itemTable" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col" class="itemTable-cell itemTable-cell_media">
                                Item
                            </th>
                            <th scope="col" class="itemTable-cell itemTable-cell_details">
                                <span class="isVisuallyHidden">Details</span>
                            </th>
                            <th scope="col" class="itemTable-cell itemTable-cell_qty">
                                Qty
                            </th>
                            <th scope="col" class="itemTable-cell itemTable-cell_total">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in cart.items %}
                        <tr>
                            <td class="itemTable-cell itemTable-cell_media">
                                <div class="itemTable-cell-media">
                                    <a href="{{ item.url }}">
                                        <img src="{{ item | img_url: 'medium' }}"  alt="{{ item.title | escape }}" />
                                    </a>
                                </div>
                            </td>
                            <td class="itemTable-cell itemTable-cell_details">
                                <div>
                                    <a href="{{ item.url }}">
                                        {{ item.product.title }}
                                        {% comment %}
                                        {% if item.variant.title != "Default Title" %}
                                            <br/>{{ item.variant.title }}
                                        {% endif %}
                                        {% endcomment %}
                                    </a>
                                </div>
                                <div>
                                    MFG. by {{ item.vendor }}
                                </div>
                            </td>
                            <td class="itemTable-cell itemTable-cell_qty">
                                <input class="field field_txt field_txt_sm" type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" />
                            </td>
                            <td class="itemTable-cell itemTable-cell_total">
                                {{ item.line_price | money }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <th class="itemTable-cell itemTable-cell_label" scope="row" colspan="3">
                            Subtotal
                        </th>
                        <td class="itemTable-cell itemTable-cell_subtotal" colspan="3">
                            {{ cart.total_price | money }}
                        </td>
                    </tfoot>
                </table>

                <div class="actionBar">
                    <input class="btn" type="submit" name="update" value="Update cart" />
                    <input class="btn" type="submit" name="checkout" value="Check out" />
                </div>

            </form>

        {% else %}

            <div>
                <div>It appears that your cart is currently empty!</div>
            </div>

        {% endif %}

    </div>
</div>