<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Shopping Cart</h1>
    </div>
    <div class="pageWrapper-section pageWrapper-section_isTight">
        {% if cart.item_count > 0 %}

            <form action="/cart" method="post">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Details</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in cart.items %}
                        <tr>
                            <td>
                                <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
                            </td>
                            <td>
                                {{ item.title }}
                                {% if item.properties.size > 0 %}
                                <div>
                                    {% for p in item.properties %}
                                        {% unless p.last == blank %}
                                            {{ p.first }}:
                                            {% if p.last contains '/uploads/' %}
                                                {{ p.last | split: '/' | last }}
                                            {% else %}
                                                {{ p.last }}
                                            {% endif %}
                                        {% endunless %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <div>{{ item.vendor }}</div>
                            </td>
                            <td>
                                {{ item.price | money }}
                            </td>
                            <td>
                                <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
                            </td>
                            <td>
                                {{ item.line_price | money }}
                            </td>
                            <td>
                                <a href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div>
                    <div>Subtotal {{ cart.total_price | money }}</div>
                    <input type="submit" name="update" value="Update cart" />
                    <input type="submit" name="checkout" value="Check out" />
                </div>

                <div>
                    <div>Special instructions for seller</div>
                    <textarea name="note">{{ cart.note }}</textarea>
                </div>

            </form>

        {% else %}

            <div>
                <div>It appears that your cart is currently empty!</div>
            </div>

        {% endif %}

    </div>
</div>