<div class="pageWrapper">
    {% paginate collection.products by 12 %}
        <div class="pageWrapper-section pageWrapper-section_isCentered">
            <h1 class="sectionTitle">{{ collection.title }}</h1>
        </div>
        {% if collection.description.size > 0 %}
        <div class="pageWrapper-section">
            <div class="userContent">
                {{ collection.description }}
            </div>
        </div>
        <div class="pageWrapper-section pageWrapper-section_isCentered">
            <h2 class="sectionTitle">Products</h1>
        </div>
        {% endif %}

        <div class="pageWrapper-section">
            <ul class="blocks blocks_std">
                {% for product in collection.products %}
                <li>
                    <div class="panel">
                        <div class="panel-media">
                            <a href="{{ product.url | within: collection }}">
                                <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
                            </a>
                        </div>
                        <div class="panel-hd">
                            <h2 class="hdg hdg_xl">
                                <a href="{{ product.url | within: collection }}">
                                    {{ product.title }} - {{ product.price | money }}
                                </a>
                            </h2>
                        </div>
                        {% comment %}Don't show the vendor name / link on vendor collection page.{% endcomment %}
                        {% if product.vendor != collection.title %}
                        <div class="panel-meta">
                            <h3 class="hdg hdg_lg">
                                <a href="/collections/{{ product.vendor | handleize }}">
                                    {{ product.vendor }}
                                </a>
                            </h3>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

            {% if paginate.pages > 1 %}
                {{ paginate | default_pagination }}
            {% endif %}
        </div>
    {% endpaginate %}
</div>