<div class="pageWrapper">
    {% paginate collection.products by 12 %}
        <div class="pageWrapper-hd">
            <h1 class="sectionTitle">{{ collection.title }}</h1>
        </div>
        <div class="pageWrapper-bd">

            {% if collection.description.size > 0 %}
                <div class="userContent">
                    {{ collection.description }}
                </div>
            {% endif %}

            <ul class="blocks blocks_std">
                {% for product in collection.products %}
                <li>
                    <div class="panel">
                        <div class="panel-media">
                            <a href="{{ product.url | within: collection }}">
                                <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
                            </a>
                        </div>
                        <div class="panel-hd">
                            <h2 class="hdg hdg_xl">
                                <a href="{{ product.url | within: collection }}">
                                    {{ product.title }} - {{ product.price | money }}
                                </a>
                            </h2>
                        </div>
                        {% unless collection.current_vendor %}
                        <div class="panel-meta">
                            <h3 class="hdg hdg_lg">{{ product.vendor | link_to_vendor }}</h3>
                        </div>
                        {% endunless %}
                    </div>
                </li>
                {% endfor %}
            </ul>

            {% if paginate.pages > 1 %}
                {{ paginate | default_pagination }}
            {% endif %}
        </div>
    {% endpaginate %}
</div>