{% assign page = pages.frontpage %}
<div class="pageWrapper {% if template == "index" and settings.enable_hero_image == true %}pageWrapper_fancy{% endif %}">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Featured Neighbor Goods</h1>
    </div>
    <div class="pageWrapper-section">
        {% for collection in collections %}
            {% if collection.handle == settings.featured_collection %}
                <ul class="blocks blocks_std">
                    {% for featuredProduct in collection.products limit:3 %}
                        <li>
                            <div class="panel">
                                <div class="panel-media">
                                    <a href="{{ featuredProduct.url | within: collection }}" {% if featuredProduct.compare_at_price %} class="badge badge_sale"{% endif %}>
                                        <img src="{{ featuredProduct.featured_image.src | product_img_url: 'large' }}" alt="{{ featuredProduct.featured_image.alt | escape }}" />
                                    </a>
                                </div>
                                <div class="panel-hd">
                                    <h2 class="hdg hdg_lg">
                                        <a href="{{ featuredProduct.url | within: collection }}">
                                            {{ featuredProduct.title }} - {% if featuredProduct.compare_at_price %}<s>{{ featuredProduct.compare_at_price | money }}</s>{% endif %} {{ featuredProduct.price | money }}
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Featured Story</h1>
    </div>
    <div class="pageWrapper-section">
        <div class="feature">
            {% for article in blogs.stories.articles limit: 1 %}
                <h2 class="isVisuallyHidden">{{ article.title }}</h2>
                <div class="feature">
                    <div class="feature-caption">
                        <div class="userContent">
                            {{ article.excerpt | strip_html }}
                        </div>
                    </div>
                    <div class="feature-media">
                        {% assign article_has_image = false %}
                        {% assign img_tag = '<' | append: 'img' %}
                        {% if article.excerpt contains img_tag %}
                            {% assign src = article.excerpt | split: 'src="' %}
                            {% assign src = src[1] | split: '"' | first %}
                            {% if src %}
                                {% assign article_has_image = true %}
                                {% assign image_src = src | replace: '_small', '_1024x1024' | replace: '_compact', '_1024x1024' | replace: '_medium', '_1024x1024' | replace: '_large', '_1024x1024' | replace: '_grande', '_1024x1024' | replace: '_2048x2048', '_1024x1024' %}
                            {% endif %}
                        {% endif %}
                        <a href="{{ article.url }}">
                            <img src="{{ image_src }}" />
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
