<div class="pageWrapper">
    <div class="pageWrapper-hd">
        <h1 class="sectionTitle">{{ page.title }}</h1>
    </div>
    <div class="pageWrapper-bd">

        {{ page.content }}

        <ul class="blocks blocks_std">
            {% for product_vendor in shop.vendors %}
            <li>
                {% assign coll_handle = product_vendor | handleize %}
                <div class="panel">
                    <div class="panel-media">
                        <a href="/collections/{{ product_vendor | handleize }}">
                            {% if collections[coll_handle].image %}
                                <img src="{{ collections[coll_handle].image.src | collection_img_url: 'large' }}" alt="" />
                            {% else %}
                                <img src="{{ collections[coll_handle].products.first.featured_image.src | product_img_url: 'large' }}" alt="" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="panel-hd">
                        <h2 class="hdg hdg_xl">
                            <a href="/collections/{{ product_vendor | handleize }}">
                                {{ collections[coll_handle].title }}
                            </a>
                        </h2>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
