<div class="pageWrapper" itemscope itemtype="http://schema.org/Product">

    <div class="pageWrapper-section pageWrapper-section_isLoose">
        <div class="product">
            <div class="product-media">
                {% if product.images.size == 0 %}

                    <div class="product-media-large">
                        <img src="{{ '' | img_url: '1024x1024' }}" alt="" />
                    </div>

                {% else %}

                    <div class="product-media-large" id="js-largeImageViewport">
                        {% for image in product.images %}
                            <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" class="{% if forloop.index != 1 %}isVisuallyHidden{% endif %}" />
                        {% endfor %}
                    </div>

                    {% if product.images.size > 1 %}
                    <div class="product-media-list">
                        <ul class="blocks blocks_products" id="js-allProductImages">
                        {% for image in product.images %}
                            <li>
                                <img src="{{ image | img_url: 'compact' }}" alt="{{ image.alt | escape }}" />
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                {% endif %}
            </div>
            <div class="product-content">
                <div class="product-content-meta">
                    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                        {% assign hide_default_title = true %}
                    {% else %}
                        {% assign hide_default_title = false %}
                    {% endif %}
                    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
                    <meta itemprop="image" content="{{ product | img_url: '1024x1024' }}" />
                </div>
                <div class="product-content-hd" itemprop="name">
                    <h2 class="hdg hdg_xl">{{ product.title }} - {{ product.selected_or_first_available_variant.price | money }}</h2>
                </div>
                {% if product.vendor %}
                <div class="product-content-subhd" itemprop="brand">
                    <h3 class="hdg hdg_xs mix-hdg_gothic">
                        <a href="/collections/{{ product.vendor | handleize }}">
                            MFG. by {{ product.vendor }}
                        </a>
                    </h3>
                </div>
                {% endif %}
                <div class="product-content-description" itemprop="description">
                    <div class="userContent">
                        {{ product.description }}
                    </div>
                </div>
                <div class="product-content-fields">
                    <form action="/cart/add" method="post" enctype="multipart/form-data">
                        <div class="{% if hide_default_title %}isHidden{% endif %}">
                            <select class="field field_dropdown" name="id">
                                {% for variant in product.variants %}
                                    <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
                                        {{ variant.title }} - {{ variant.price | money }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <input class="btn" type="submit" name="add" value="Add to Cart">
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for collection in product.collections %}
        {% if collection.title == product.vendor %}
            {% if collection.description.size > 0 %}
                <div class="pageWrapper-section pageWrapper-section_isCentered">
                    <h2 class="sectionTitle">About the Manufacturer</h1>
                </div>
                <div class="pageWrapper-section">
                    <div class="userContent">
                        {{ collection.description }}
                    </div>
                </div>
            {% endif %}
            {% if collection.products_count > 1 %}
                <div class="pageWrapper-section pageWrapper-section_isCentered">
                    <h2 class="sectionTitle">Related Neighboor Goods</h2>
                </div>
                <div class="pageWrapper-section">
                    <ul class="blocks blocks_std">
                        {% for relatedProduct in collection.products %}
                            {% if relatedProduct.title != product.title %}
                                <li>
                                    <div class="panel">
                                        <div class="panel-media">
                                            <a href="{{ relatedProduct.url | within: collection }}">
                                                <img src="{{ relatedProduct.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
                                            </a>
                                        </div>
                                        <div class="panel-hd">
                                            <h2 class="hdg hdg_xl">
                                                <a href="{{ relatedProduct.url | within: collection }}">
                                                    {{ relatedProduct.title }} - {{ relatedProduct.price | money }}
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

</div>
