<div class="pageWrapper" itemscope itemtype="http://schema.org/Product">
    <div class="pageWrapper-section">

        <div class="product">
            <div class="product-media">
                {% if product.images.size == 0 %}

                    <div class="product-media-large">
                        <img src="{{ '' | img_url: '1024x1024' }}" alt="" />
                    </div>

                {% else %}

                    <div class="product-media-large" id="js-largeImageViewport">
                        {% for image in product.images %}
                            <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" class="{% if forloop.index != 1 %}isVisuallyHidden{% endif %}" />
                        {% endfor %}
                    </div>

                    {% if product.images.size > 1 %}
                    <div class="product-media-list">
                        <ul class="blocks blocks_products" id="js-allProductImages">
                        {% for image in product.images %}
                            <li>
                                <img src="{{ image | img_url: 'compact' }}" alt="{{ image.alt | escape }}" />
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                {% endif %}
            </div>
            <div class="product-content">
                <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
                <meta itemprop="image" content="{{ product | img_url: '1024x1024' }}" />

                <form action="/cart/add" method="post" enctype="multipart/form-data">

                    <div itemprop="name">
                        <h2 class="hdg hdg_xl">{{ product.title }} - {{ product.selected_or_first_available_variant.price | money }}</h2>
                    </div>
                    <!--
                    <div itemprop="brand">
                        <a href="/collections/{{ product.vendor | handleize }}">
                            {{ product.vendor }}
                        </a>
                    </div>
                    -->
                    <div itemprop="description">
                        <div class="userContent">
                            {{ product.description }}
                        </div>
                    </div>

                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                        {% if product.available %}
                            <link itemprop="availability" href="http://schema.org/InStock" />
                        {% else %}
                            <link itemprop="availability" href="http://schema.org/OutOfStock" />
                        {% endif %}
                        <div>

                        </div>
                    </div>

                    {% assign hide_default_title = false %}
                    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                        {% assign hide_default_title = true %}
                    {% endif %}

                    <div class="{% if hide_default_title %} isHidden{% endif %}">
                        <select name="id">
                            {% for variant in product.variants %}
                                <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
                                    {{ variant.title }} - {{ variant.price | money }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <input class="btn" type="submit" name="add" value="Add to Cart">

                </form>

            </div>
        </div>

    </div>
</div>
